#* @vtlvariable name="viewHelper" type="com.thejaxx.jira.rest.plugin.ajax.AjaxViewHelper" *#

##
#disable_html_escaping()
###if( $databaseValuesViewHelper.useCascadingSelectForEdit() )
 $!{auiparams.put("controlHeaderClass", "aui-field-cascadingselect")}
###end
##
#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
##
#if( $viewHelper )
##
##	#if( $databaseValuesViewHelper.useAjaxForEdit() )
##
		$viewHelper.getAjaxHtmlForEdit( $customField.id, $value, $baseurl, $issue.getProjectObject().getKey(), $i18n )
##
##	#elseif( $databaseValuesViewHelper.useCascadingSelectForEdit() )
##
##		$databaseValuesViewHelper.getCascadingSelectHtmlForEdit( $customField.id, $value, $fieldLayoutItem.isRequired(), $issue.getProjectObject().getKey(), $i18n )
##
##	#else
##
##		$databaseValuesViewHelper.getHtmlForEdit( $customField.id, $value, $issue.getProjectObject().getKey(), $i18n )
##
#end
##
###else
##
##TEST EDIT Please make sure you have your jira-database-values-plugin-${customField.idAsLong}.properties file in place!
##
###end
##
##
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)
